body{
    background-color: rgb(5, 102, 5);
}

img{
    height: 250px;
    position: relative;
    left: 150px;
    margin-left: -140px;
}

#jugador,#computadora{
    min-height: 300px;
}
#mensaje{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: cyan;
    height: 250px;
    width: 50%;
    line-height: 250px;
    font-weight: 800;
    color: white;
} 
